.abc
{
  color: red;
  background-color: aqua;
}




.abn
{
  color: #ff0000;
  background-color: #ffff00;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 28px;
 text-align: center;
 font-style: italic;
 text-decoration: underline;
 border-style: solid;
 border-width: 2px;
 border-color: #00ff00;
}






p > a{  
  color: green;
}

div a{
  color: green;
}

ul a{
  color: red;
}

input[type="text"]
{
  color: red;
 
}